body {
    background: orange;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
input[type="text"], input[type="password"], input[type="text"]
{
    outline: none;
    display: block;
    width: 309px ;
    border-radius: 3px;
    border: 1px solid rgba(238, 238, 238, 0.726);
    margin: 20px auto;
    padding: 15px;
}
input[type="submit"] 
{
    padding: 20px;
    background:  rgb(255, 145, 0);
    width: 85px;
    margin: 28px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color:white;
}
input[type="submit"] :hover
{
    background-color: rgb(255, 0, 0);
}

 .t78
{
    background: rgb(209, 0, 0);
    padding: 30px;
   width: 390px;
   margin: -5px 310;
   border-radius: 4px; 
}
h1 { 
             color:white;
        }

h2
{
    text-decoration: none;
    background:rgb(255, 145, 0);
    color: white;
    width: 35px 60px;
}
