body {
    background: orange;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
input[type="text"], input[type="password"], input[type="text"]
{
    outline: none;
    display: block;
    width: 350px ;
    border-radius: 3px;
    border: 1px solid rgba(238, 238, 238, 0.726);
    margin: 28px auto;
    padding: 15px;
}
input[type="submit"] 
{
    padding: 12px;
    background:  rgb(255, 145, 0);
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"] :hover {
    background-color: rgb(255, 0, 0);
}
.t78 
{
     background: rgb(209, 0, 0);
    padding:80px;
    width: 470px;
    margin:20px;
    border-radius:4px;
}
h1 { 
             color:white;
        }
 img {
        width: 80px;
        height: 80px ;
        border-radius: 10px;
        margin:center ;
}
