body {
    background: orange;
    margin: 0%;
    bacgound-attachment: 100vw 100vh;
    padding: 110px 350px;
     }
form {
    background: rgb(43, 180, 1);
    border-radius: 10px;
}
 .ki1{
   margin: 40px 100px;
    width: 100%;
    border-radius: 15%;
 }
 .hi2 {
   margin: 40px 100px;
   border-radius: 0px;
}
.ki2 {
   margin: 40px 100px;
   border-radius: 0px;
}
